<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by {{name}} and uses data from <a target="_"
                href="https://www.mapbox.com">mapboxAPI</a> and <a target="_"
                href="https://www.darksky.net">darkskyAPI</a>
        </p>
    </div>
    {{>footer}}
</body>

</html>